soap-mock/src/main/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>


<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
       xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.2/mule-stdio.xsd
        http://www.mulesoft.org/schema/mule/core  http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
        http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/3.2/mule-pattern.xsd
       ">

    <http:connector name="http" />
    <flow name="secure-proxy">
        <inbound-endpoint connector-ref="http" exchange-pattern="request-response" address="http://localhost:8080/">
            <logger message="security-proxy: received request to #[header:INBOUND:http.request]" level="INFO" />
            <logger message="security-proxy: received request with headers #[headers:*]" level="INFO" />
            <response>
                <logger message="security-proxy: received response with headers #[headers:*]" level="INFO"/>
            </response>
        </inbound-endpoint>    
        <outbound-endpoint connector-ref="http" address="http:/#[header:INBOUND:http.request]" exchange-pattern="request-response">
            <logger message="security-proxy: received response 1 from #[header:INBOUND:http.request]"  level="INFO"/>
            <response>
                <logger message="security-proxy: received response 2 from #[header:INBOUND:http.request]"  level="INFO"/>
                <logger message="security-proxy: received response 2 with Content-Encoding: #[header:INBOUND:Content-Encoding]"  level="INFO"/>
                <logger message="security-proxy: received response with headers #[headers:*]" level="INFO"/>
            </response>
        </outbound-endpoint>
        <choice>
            <when evaluator="header" expression="INBOUND:Content-Encoding='gzip'">
                <logger message="security-proxy: received response 2 with Content-Encoding: #[header:INBOUND:Content-Encoding]"  level="INFO"/>
                <logger message="security-proxy: gzipped content detected - unzipping" level="INFO" />
                <gzip-uncompress-transformer/>
            </when>
            <otherwise>
                <logger message="security-proxy: received response 2 with Content-Encoding: #[header:INBOUND:Content-Encoding]"  level="INFO"/>
                <logger message="security-proxy: unzipped content - unzipping not needed" level="INFO" />
            </otherwise>
        </choice> 
    </flow>

</mule>

