spring-mule-properties/src/main/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core  http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       ">
    <!-- configure property placeholder -->
    <context:property-placeholder location="classpath:application.properties"
                                  system-properties-mode="OVERRIDE"
                                  ignore-resource-not-found="false"
                                  ignore-unresolvable="false"/>
    <!-- configure bean to read the same properties -->
    <spring:beans>
        <spring:bean id="appProps"
                     class="org.springframework.beans.factory.config.PropertiesFactoryBean">
            <spring:property name="singleton" value="true"/>
            <spring:property name="location" value="classpath:application.properties"/>
            <spring:property name="properties">
                <spring:props>
                    <spring:prop key="key4">value4</spring:prop>
                </spring:props>
            </spring:property>
        </spring:bean>
    </spring:beans>

    <flow name="spring-property">
        <vm:inbound-endpoint exchange-pattern="request-response" path="springproperty.in">
            <logger message="Message received #[groovy:message.payload]" level="INFO"/>
            <!-- set a session scoped property on the message -->
            <message-properties-transformer scope="session">
                <add-message-property key="dynamickey" value="key4"/>
            </message-properties-transformer>
        </vm:inbound-endpoint>
        <!-- use the property placeholder -->
        <logger message="key1 = ${key1}" level="INFO"/>
        <!-- use the appProps bean -->
        <logger message="key2 = #[groovy:appProps.key2]" level="INFO"/>
        <logger message="key3 = #[groovy:appProps['key3']]" level="INFO"/>
        <!-- access property value based on message property -->
        <logger message="key4 = #[groovy:appProps[message.getSessionProperty('dynamickey')]]" level="INFO"/>
        <append-string-transformer message="abc"/>
    </flow>
</mule>