mule-multi-app/src/main/app/mule-config-1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.1/mule-http.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.1/mule-jms.xsd">


    <context:property-placeholder
            ignore-unresolvable="true" ignore-resource-not-found="true"
            location="classpath:multi-app-1.properties"/>


    <script:script engine="groovy" name="SoapEnvelope">
        <![CDATA[
        def cdataStart = "<![" + "CDATA["
        def cdataEnd = "]" + "]>"
"""
<Envelope>
<Body>
${cdataStart}
${message.payload}
${cdataEnd}
</Body>
</Envelope>
"""
               ]]>
    </script:script>




    <flow name="app1HttpListener">
            <jms:inbound-endpoint queue="${app1.jms.inbound.queue}" exchange-pattern="request-response"
                    responseTransformer-refs="object-to-string-transformer renameContentType loggerTransformer"/>
        <logger level="INFO" message="message = #[groovy:message]"/>
        <logger level="INFO" message="app.name = ${app.name}"/>
        <logger level="INFO" message="app.http.port = ${app.http.port}"/>
        <logger level="INFO" message="app.http.path.prefix = ${app.http.path.prefix}"/>
        <logger level="INFO" message="app1.http.port = ${app1.http.port}"/>
        <logger level="INFO" message="app1.http.path.prefix = ${app1.http.path.prefix}"/>
        <logger level="INFO" message="app2.http.port = ${app2.http.port}"/>
        <logger level="INFO" message="app2.http.path.prefix = ${app2.http.path.prefix}"/>
        <script:component script-ref="SoapEnvelope"/>
        <logger level="INFO" message="Message = #[groovy:message]"/>
        <custom-processor class="org.mule.routing.requestreply.ReplyToPropertyRequestReplyReplier"/>
    </flow>

</mule>
